@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1920px;
    font-family: 'Roboto', serif;
    color: #ffffff;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    min-height: 92px;
    max-height: 131px;
    height: 10vw;
    padding: 0 80px;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 24px;
}

.navbar__list li:first-child {
    padding-left: 45px;
}

.navbar__list li:not(:last-child) {
    padding-right: 69px;
}

.banner {
    position: relative;
}

.banner__bgImg {
    display: block;
    object-fit: contain;
    max-width: 100%;
}

.banner__info {
    position: absolute;
    left: 8%;
    top: 23%;
    max-width: 572px;
}

.banner__info h1,
p {
    margin: 0;
    margin-bottom: 35px;
}

.banner__info h1 {
    font-size: 4vw;
    line-height: 80px;
}

.banner__info p {
    font-size: 24px;
    width: 406px;
    line-height: 28px;
}

.banner__startBtn {
    width: 180px;
    height: 60px;
    background: #3fc4fd;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

@media (min-width: 1920px) {
    .banner__info h1 {
        font-size: 72px;
        line-height: 80px;
    }
}