@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', serif;
    /* max-width: 1920px;
    max-height: 1080px; */
    /* width: 100%; */
    /* background-color: #000000; */
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    color: #ffffff;
    height: 131px;
    background-color: #000000;
    padding: 0 80px;
}

.navbarUl {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbarUl .navbarItem:first-child {
    padding-left: 45px;
}

.navbarUl .navbarItem:not(:last-child) {
    padding-right: 69px;
}

.navbarItem {
    color: #FFFFFF;
    font-size: 24px;
}

.content {
    position: relative;
    background-color: chartreuse;
    /* padding: 0 0 49% 0; */
    height: 949px;
}

.bgImg {
    position: absolute;
    /* object-fit: cover; */
    /* object-position: top; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.textContent {
    position: absolute;
    /* left: 213px; */
    /* top: 230px; */
    left: 8%;
    top: 23%;
    max-width: 572px;
}

.textContent h1,
p {
    margin: 0;
    color: #ffffff;
    margin-bottom: 35px;
}

.textContent h1 {
    /* font-size: 72px; */
    font-size: 4vw;
    line-height: 80px;
}

.textContent p {
    font-size: 24px;
    width: 406px;
    line-height: 28px;
}

.startBtn {
    width: 180px;
    height: 60px;
    background: #3fc4fd;
    border: none;
    border-radius: 10px;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
}
